<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="dalelak_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Google Maps API Key for Android -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCmR8iaiEDgRqVC7OnD1eZ4g1R3cuQiiQc"/> <!-- Replace YOUR_API_KEY with the actual key -->

        <!-- Flutter Normal Theme Metadata -->
        <meta-data
            android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme"/>

        <!-- Flutter Embedding Metadata -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Main Activity Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

    <!-- Permissions for Location Access -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Queries for Intent Processing -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
